:root {
    --wrapperBorders: 25%; 
    --formPaddingRL: 8%;
    --formPaddingUD: 7%;
}

.addIncidentWrapper {
    margin-left: var(--wrapperBorders);
    margin-right: var(--wrapperBorders);
    margin-bottom: 20px;
}

.addIncidentForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(218, 214, 214);
    box-shadow: 7px 7px 5px 7px #888888;
    /* background-color: rgb(247, 246, 213); */
    border-radius: 6px;
    margin-bottom: 60px;
    padding-left: var(--formPaddingRL);
    padding-right: var(--formPaddingRL);
    padding-top: var(--formPaddingUD);
    padding-bottom: var(--formPaddingUD);
}

.addIncidentInputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 40%;
    align-items: left;
    margin-left: 0px;
    margin-top: 4px;
}

.addIncidentInputWrapper p {
    margin-left: 0px;
}

.addIncidentOptionInput {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-top: 7px;
}

.addSelectInput {
    height: 29px;
    width: 103%;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: small;
    color: rgb(71, 69, 69);
    background-color: #f5f5f5;
    border: solid 1.5px #D3D3D3;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

.addSelectInput:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.addSelectInput:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
}

.addIncidentTitle {
    width: 100%;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.addIncidentInput {
    width: 100%;
}

.addIncidentDescription {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    /* background-color: red; */
}

.addIncidentTextarea {
    height: 90px;
    padding-left: 30px;
    padding-top: 3px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: solid 1.5px #D3D3D3;
    transition: 1s;
    background-color: #f5f5f5;
}

.addIncidentTextarea:hover {
    box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

.addIncidentDescriptionTitle {
    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 0px;
}   

.descriptionIcon {
    width: 13px;
    height: auto;
    position: absolute;
    padding: 6px;
}

.uploadText {
    flex-basis: 100%;
    margin-left: 0px;
    margin-top: 14px;
    margin-bottom: 0px;
}

.addIncidentUploading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    margin-top: -4px;
}

.addIncidentUploading button {
    height: 20px;
    width: auto;
    margin-right: 6px;
}

.addIncidentTermsAndConditions {
    flex-basis: 100%;
    margin-left: 0px;
    margin-top: -5px;
    margin-bottom: -3px;
}

.reportNowButton {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.notMandatory:after {
    content: "";
}