.cardWrapper {
    padding: 12px;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 25%;
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.cardImage {
    width: 85%;
    height: auto;
}

.cardTitle {
    font-weight: bold;
    margin: 5px;
}

.viewButton {
    border: 1px solid #2f55d4;
    font-size: 20px;
    width: 86.5%;
    border-radius: 8px;
    margin-top: 9px;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.viewButton:hover {
    color:  #2f55d4;
}

/* location section */

.cardLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -16px;
    font-size: 14px;
}

.locationIcon {
    width: 20px;
    height: auto;
}

/* description section */

.cardDescription {
    text-align: left;
    margin-left: 6%;
    font-size: 14px;
}

.descriptionTitle {
    font-size: 14px;
    font-weight: 500;
    /* margin-left: 6%; */
}

.usersDescription {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    .cardWrapper {
        width: 70%;
        margin-bottom: 20px;
    }    
}