.searchIncidentWrapper {
    background-color: #f8f9f9; 
    height: 100%;
}

.peopleImage {
    position:absolute;
    margin-left: -250px;
    bottom:0px;
    left:50%;
}

.addIncident span {
    margin-left: 7px;
}

.start {
    background-color: #3dbb83;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.incident {
    color: rgb(30, 30, 199);
}

.reportedByInput {
    font-size: 17px;
}

.addIncident {
    padding-top: 60px;
    padding-bottom: 50px;
}

.searchText {
    margin-top: 6px;
    color: gray;
    margin-left: 15px;
}

.filtersWrapper {
    background-color: white;
    border-radius: 9px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;;
}

.filtersWrapper select, .filtersWrapper button {
    margin-left: 30px !important;
    font-size: 17px;
}

.searchButton {
    background: #2f55d4;
    margin: 6px;
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 6px;
    color: #eee;
    font-size: 15px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    padding-top: 3px;
}

.searchButton a {
    color: #eee;
    text-decoration: none;
}

.quoteAndAuthor {
    padding-bottom: 266px;
    margin-bottom: 0px;
    padding-top: 10px;
    color: #3a3232;
}

@media screen and (max-width: 600px) {
    .peopleImage {
        position: relative;
        bottom: 0px;
        left: 0px; 
        width: 80%;
        margin: auto;
        object-fit: cover;
    }

    .quoteAndAuthor {
        padding-bottom: 20px;
    }
}