.wrapper {
    position: relative;
    background: rgb(238, 238, 238);
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.title {
    margin-right: 20%;
    font-weight: 500;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    background: #2f55d4;
    margin: 6px;
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 6px;
    color: #eee;
    font-size: 15px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    padding-top: 3px;
}