.heroWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22%;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
}

.header, .body {
    width: 70%;
    margin-left: 14%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
} 

.body {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 200px;
    position: relative; 
}

.header {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 35px;
}

.header1 {
    padding-top: 50px;
}

.bottomImage {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
    left: 0px; 
}

.allPage {
    background-color: #f5f5f5;
    display: flex;
}

.registerBox {
    width: 666px;
    height: 70%;
    z-index: 13;
    position: relative;
    margin: 1%;
    background: white;
    margin-right: 9%;
    margin-left: 3%;
    border-radius: 21px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 15px;
    box-shadow: 0 0 18pt 2pt rgb(213 217 243);
}

.welcome {
    text-align: center;
    font-size: larger;
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 18px;
}

.registerLabel {
    text-align: left;
    /* margin-left: 17%; */
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
    font-weight: 500;
}

.registerLabel:after {
    content: " * ";
    color: red;
    font-size: 14px;    
}

.registerInput {
    text-align: left;
    width: 65%;
    margin-bottom: 2px;
    margin-top: -2px;
    border: none;
    color: black;
    height: 25px;
    padding-top: 0px;
    padding-left: 6px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: solid 1.5px #D3D3D3;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

.registerInput:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.registerInput:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
    /* border-color: rgb(253, 104, 104); */
}

.termsAndConditions {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: -27px;
    text-align: left;
    margin-left: 16%;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.accept {
    margin-left: 6px;
    margin-right: 6px;
}

.registerButton {
    background: #2f55d4;
    margin: 6px;
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 6px;
    color: #eee;
    font-size: 15px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    padding-top: 3px;
    width: 68%;
    margin-top: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.registerInputPieceWrapper {
    position: relative;
    margin-top: 7px;
}

/* .registerLabel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    pointer-events: none;
    font-weight: 500;
} */

/* RESPONSIVE */ 

@media screen and (max-width: 600px) {
    .allPage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .heroWrapper {
        display: flex;
        justify-content: center;
    }

    .bottomImage {
        position: relative;
        bottom: 0px;
        left: 0px; 
        object-fit: cover;
        width: 100%;
        height: 47px;
    }

    .header, .body, .registerBox {
        width: 80%;
        height: auto;
    }

    .body {
        margin-bottom: 55px;
    }

    .registerBox {
        width: 70%;
        height: 45%;
        background: white;
        margin: auto;
        border-radius: 29px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
}

/* NOTIFICATION */

.registerNotificationBox {
    position: absolute !important;
    z-index: 20;
    bottom: 13px;
    right: 13px;
    background-color: rgb(88, 86, 86);
    opacity: 0.7;
    color: white;
    font-size: 15px;
    width: 300px;
    line-height: 30px;
    border-radius: 6px;
    margin: 0;
    padding: 6px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.registerNotificationBox div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.registerNotificationBox a {
    margin-top: -10px;
    padding: 0;
    color: white;
}

.registerNotificationBox p {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes FadeAnimation {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

.registerNotificationBox {
    animation: FadeAnimation 6s ease-in 1.5s forwards;
}

/* INPUT STATUTES */

.inputStatus {
    font-size: 10px;
    margin: 0;
    margin-bottom: 3px;
    margin-top: 4px;
    text-align: left;
}

.inputLabelWrapper {
    margin-left: 17%;
    float: left;
    width: 100%;
}

.inputLabelWrapper p {
    /* display: inline-block; */
    /* text-align: left; */
    width: 100%;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

.red {
    color: red;
}

.green {
    color: green;
    /* border-color: green; */
}