.heroWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22%;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
}

.header, .body {
    width: 70%;
    margin-left: 14%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
} 

.body {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 200px; 
}

.header {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 35px;
}

.header1 {
    padding-top: 50px;
}

.bottomImage {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
    left: 0px; 
}

.allPage {
    background-color: #f5f5f5;
    display: flex;
}

.registerBox {
    width: 666px;
    height: 45%;
    position: relative;
    margin: 1%;
    background: white;
    margin-right: 9%;
    margin-left: 3%;
    border-radius: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.welcome {
    text-align: center;
    font-size: larger;
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 18px;
}

.registerLabel {
    text-align: left;
    margin-left: 17%;
    font-size: small;
    margin-top: 8px;
    margin-bottom: -6px;
    font-weight: 500;
}

.registerLabel:after {
    content: " *";
    color: red;
    font-size: 14px;    
}

.registerInput {
    text-align: left;
    width: 65%;
    margin-bottom: 2px;
    margin-top: -2px;
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(243, 239, 239); */
    background-color: #f5f5f5;
    /* border: 1px solid gray; */
    color: black;
    height: 25px;
    padding-top: 0px;
}

.termsAndConditions {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: -27px;
    text-align: left;
    margin-left: 16%;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 0px;
}

.accept {
    margin-left: 6px;
    margin-right: 6px;
}

.registerButton {
    background: #2f55d4;
    margin: 6px;
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 6px;
    color: #eee;
    font-size: 15px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    padding-top: 3px;
    width: 68%;
    margin-top: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.registerInputPieceWrapper {
    position: relative;
    margin-top: 7px;
}

/* .registerLabel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    pointer-events: none;
    font-weight: 500;
} */

/* RESPONSIVE */ 

@media screen and (max-width: 600px) {
    .allPage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .heroWrapper {
        display: flex;
        justify-content: center;
    }

    .bottomImage {
        position: relative;
        bottom: 0px;
        left: 0px; 
        object-fit: cover;
        width: 100%;
        height: 47px;
    }

    .header, .body, .registerBox {
        width: 80%;
        height: auto;
    }

    .body {
        margin-bottom: 55px;
    }

    .registerBox {
        width: 70%;
        height: 45%;
        background: white;
        margin: auto;
        border-radius: 29px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
}